/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
	font-family: roboto;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* *************************************************** */
/* PROJECT CSS */
/* *************************************************** */

body {
	background-color: #D8BFD8;
}

h2 {
	font-size: 64px;
	text-align: center;
	color: #4B0082;
}

h3 {
	color: #4B0082;
}

input {
	background-color: #a66dc760;
	border-radius: 15px;
	padding: 2px 7px;
}

.container {
	display: grid;
	grid-template-columns: 150px 150px 150px;
	grid-template-rows: 150px 150px 150px;
	justify-content: center;
}

.container>div {
	font-size: 64px;
	border: 2px solid #4A235A;
	background: linear-gradient(to bottom right, #FFFFFF, #D7BDE2);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4A6884;
}

.container>div:hover {
	background-color: aquamarine;
	background: linear-gradient(to bottom right, #FFFFFF, #C39BD3);
	/* transform: scale(1.05); */
}

.bottom-border {
	border-bottom: 2px solid;
}

.right-border {
	border-right: 2px solid black;
}

dialog {
	margin: auto;
	margin-top: 200px;
	border: 5px solid #4B0082;
	border-radius: 10px;
	background-color: #f4ebfa;
}

dialog>form {
	height: 200px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 15px;
}

form>div {
	flex: 1;
	display: flex;
	flex-direction: column;
}

form>div>* {
	flex: 1;
}

.display {
	background-color: #E6E6FA;
	border: 7px solid #4B0082;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width: 500px;
	margin: auto;
	padding: 20px;
	margin-top: 15px;
}

.display>div {
	display: flex;
	font-size: x-large;
	gap: 50px;
	justify-content: center;
}

.score {
	width: 100px;
	padding: 5px;
	font-weight: bold;
}

.display>div>p {
	width: 150px;
	padding: 5px;
	font-weight: bold;
}

button {
	width: 150px;
	height: 40px;
	margin: auto;
	border: 3px solid #4B0082;
	border-radius: 15px;
	font-size: large;
	background-color: #E6E6FA;
	box-shadow: 2px 2px 2px;
}

button:hover {
	color: white;
	background-color: #4B0082;
}

.message {
	padding: 5px;
}